
/*Section 1 Styling Starts - Common For All the HTML Pages*/
.Section1{
    /* border :solid rgb(189, 27, 27); */
    background: url(https://png.pngtree.com/thumb_back/fh260/background/20230408/pngtree-rainbow-curves-abstract-colorful-background-image_2164067.jpg) 0 0 no-repeat;
    height:230px;
    background-size: cover;
    background-position: center bottom;
    margin: 0;
    padding: 5px;
}

.top-bar{
    /* border:solid blue; */
    display:flex;
    color: #ffffff;
    justify-items: center;
    z-index:-.5;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin:10px;
    justify-content: space-between;
}
#face{
    display: block;
    border-radius: 50%;
    height:50px;
    width:50px;
    padding:5px;
}
#t1
{
    margin-right:auto;
}

.Link_text{
  text-decoration: none;
  color: #e01515;
  text-transform: uppercase;
  font-size:small;
  font-weight: bold;
}

.logo {
   /* border:solid green; */
    display: block;
    overflow: hidden;
    width: 150px;
    height: 60px;
    text-indent: -999999px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-TGi2iMQyXx8xLtXZjnSDjU9cMpKTMrDq1g&s) 0 0 no-repeat;
    background-size: 100% 100%;
    border-radius: 90%;
    justify-content: center;
    transition: width 1s, height 2s, transform 2s;
    transform: rotateY(60deg);
    transform-style: preserve-3d;
    transform-origin: 20% 40%;
    position: relative;
    /* z-index: -1; */
}
  .logo:hover {
    width: 300px;
  }

  .NavBar {
    background: url(https://i.gifer.com/76YS.gif) 0,0,no-repeat;
    border: 2px solid black;
  }
  
  .transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    height:50px;
  }
  
  .transbox ul {
    margin:.2px;
    font-weight: bold;
    color: #000000;
    display:flex;
    font-size: 25px;
    justify-content: space-evenly;
  }

  .transclass {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #b82020; */
    justify-content: center;
  }

  .active {
    background-color: #07140d;
  }

  li a:hover:not(.active) {
    background-color: #131a0c;
  }

  li a {
    display: block;
    color:red;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-style: italic;
  }

/*Section1 Styling Ends- Common For All the HTML Pages*/

/* Index HTML Styling Starts */ 

/* Carousel Image Section Starts */
.carousel-item{
  width:100%;
  height:40vh;
  /* border:solid rgb(174, 43, 43); */
  margin-top: .2px;
  padding:10x;
}

/* Carousel Image Section Ends */

/* About Section Starts */
.aboutsec{
  /* border:solid blue; */
  background-color: #07140d;
}
.aboutTitle{
  text-align: center;
  font-size: 40px;
  font-style: italic;
  font-weight: 100;
  color: aliceblue;
  font-family:'Spirax', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.aboutText{
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
  word-wrap: wrap;
  color: aliceblue;
  padding:50px;
  margin-left:100px;
  border-left: 6px solid rgb(216, 96, 53);
}
/* About Section Starts */

/* Footer Section starts */
/* .foot0 , .foot1,.foot2 ,.foot3 {
  border:solid green;
}
*/

.footer_title {
  font-size: 15px;
  text-transform: uppercase;
  color: #666;
  text-decoration: none;
  font-style: italic;
}

.footer_content {
  font-size: 12px;
  color: #666;
  font-weight: 600;
  font-style: italic;
}

.timing_box {
  border: 4px solid #8e8c91;
}

.timing_box .table_footer > tbody > tr > td {
  font-size: 12px;
  background: #f9ecc6;
}

.center_block {
 /* border:solid rgb(185, 34, 34); */
  display:flex;
  justify-content:space-evenly;
  padding: 35px;
  color: #666;
  background: #f9ecc6;
  /* background: url(https://t4.ftcdn.net/jpg/05/49/86/39/360_F_549863991_6yPKI08MG7JiZX83tMHlhDtd6XLFAMce.jpg) 0 0 no-repeat;
  background-size: cover;
  background-position: center bottom;
  margin: 0;
  padding: 20px; */
}

/* Footer Section Ends */


/* Index HTML Styling Ends */


/* Menu HTML Styling Starts */

.menusection{
  /* border:solid green; */
  /* height:500px; */
 background-color: rgb(14, 2, 16);
  background-size: cover;
  background-position: center bottom;
  margin: 0;
}

.menutitle{
  border: solid #000000;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
  color: rgb(235, 31, 4);
  font-family:'Spirax', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.MenuContainer{
  /* border: solid red; */
  border-width: 0.2px;
  text-align: center;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  background-color: silver;  
}
.bizPic {
  /* margin: 1em; */
  /* border-radius: 50%; */
  height: 150px;
  width: 250px;
  border: solid white;
}

.MenuList {
  border-radius: 10px;
  font-size:22px;
  /* border: solid rgb(154, 23, 23); */
  margin: 20px;
  width: 300px;
  height:230px;
  padding: 12px;
  justify-content: space-around;
  background-color: rgb(22, 19, 19);
  color: white;
  display: block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
}
.List_a_content {
  display: none;
  position: absolute;
  background-color: #b3b7a7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: #e01515;
  padding:10px;
}
.List_b_content {
  display: none;
  position: absolute;
  background-color: #b3b7a7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: #e01515;
  padding:10px;
}
.List_c_content {
  display: none;
  position: absolute;
  background-color: #b3b7a7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: #e01515;
  padding:10px;
}
.List_d_content {
  display: none;
  position: absolute;
  background-color: #b3b7a7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: #e01515;
  padding:10px;
}
.List_e_content {
  display: none;
  position: absolute;
  background-color: #b3b7a7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: #e01515;
  padding:10px;
}
.List_f_content {
  display: none;
  position: absolute;
  background-color: #b3b7a7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: #e01515;
  padding:10px;
}
.List_g_content {
  display: none;
  position: absolute;
  background-color: #b3b7a7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: #e01515;
  padding:10px;
}
.List_h_content {
  display: none;
  position: absolute;
  background-color: #b3b7a7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: #e01515;
  padding:10px;
}
/* .List_i_content {
  display: none;
  position: absolute;
  background-color: #b3b7a7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: #e01515;
  padding:10px;
}
.List_j_content {
  display: none;
  position: absolute;
  background-color: #b3b7a7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: #e01515;
  padding:10px;
}
.List_k_content {
  display: none;
  position: absolute;
  background-color: #b3b7a7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: #e01515;
  padding:10px;
}
.List_l_content {
  display: none;
  position: absolute;
  background-color: #b3b7a7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: #e01515;
  padding:10px;
} */
.menu_cat_title {
  padding: 20px;
  text-align: center; 
  background-color:#eef0ec ;
  color: #e01515;
}

  .menu_ul_title{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #b82020; */
    justify-content: center;
  }

#menu_a:hover  + .List_a_content {
  display: block;
  color: white;
  background-color: goldenrod;
}

#menu_b:hover  + .List_b_content {
  display: block;
  color: white;
  background-color:rgb(40, 112, 78);
}
#menu_c:hover  + .List_c_content {
  display: block;
  color: white;
  background-color:rgb(40, 112, 78);
}

#menu_d:hover  + .List_d_content {
  display: block;
  color: white;
  background-color:rgb(40, 112, 78);
}

#menu_e:hover  + .List_e_content {
  display: block;
  color: white;
  background-color: purple;
}

#menu_f:hover  + .List_f_content {
  display: block;
  color: white;
  background-color:purple;
}

#menu_g:hover  + .List_g_content {
  display: block;
  color: white;
  background-color:rgb(40, 112, 78);
}

#menu_h:hover  + .List_h_content {
  display: block;
  color: white;
  background-color: purple;
}
/*
#menu_i:hover  + .List_i_content {
  display: block;
  color: white;
  background-color:rgb(40, 112, 78);
}

#menu_j:hover  + .List_j_content {
  display: block;
  color: white;
  background-color:rgb(40, 112, 78);
}

#menu_k:hover  + .List_k_content {
  display: block;
  color: white;
  background-color: goldenrod;
}
#menu_l:hover  + .List_l_content {
  display: block;
  color: white;
  background-color: purple;
} */


/* Menu HTML Styling Ends */


/* Gallery HTML STyling Starts */

.gallerysection{
  border:solid black;
  /* height:50vh; */
}

.GalleryContainer{
  padding:20px;
  /* border: solid red; */
  border-width: 0.2px;
  text-align: center;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  background-color: silver;  
}

.GalPic {
  margin: 1em; 
  /* border-radius: 50%; */
  height: 200px;
  width: 200px;
  border: solid white;
  transition: 1s;
}

.GalPic:hover {
  box-shadow: 10px 10px;
  background-color: #000000;
}

/* Gallery HTML STyling Ends */


/* ContactUS HTML Styling Starts */

.ContactSection{
  /* Border:solid blue; */
  background-color: silver;
  display:flex;
  justify-content: space-around;
}

.sectioncontainer{
  /* border:solid green; */
  background-color: #d1bdbd;
  height:50vh;
  width:60vw;
  background: url(https://i.gifer.com/76YS.gif) 0,0,no-repeat;
  /* border: 2px solid black; */
  justify-content: space-around;
  align-items: center;
  display:flex;
  color:rgb(248, 242, 242);
  font-size: 20px;

}

/* ContactUS HTML Styling Ends */